@model Garden_Centre_MVC.ViewModels.Transactions.IndexViewModel

<button style="margin-bottom: 5px;" id="Index_AddButton" class="btn btn-primary">Add</button>
<div style="margin-bottom: 5px;" hidden="hidden" id="Index_AddView">
</div>

<div id="View">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("HistoricView", "Transactions")',
            success: function (result) {
                $("#View").html(result);
            },
            error: function (x, e, r) {
                alert(e + " " + r);
                alert(x.responseText);
            }
        });

        $('#Index_AddButton').on("click", function (e) {
            $.ajax({
                url: '@Url.Action("AddView", "Transactions")',
                type: "JSON",
                success: function (res) {
                    $('#Index_AddView').delay(100).slideDown("slow").html(res);
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });
    });
</script>