@{
    Layout = "";
}

@model Garden_Centre_MVC.ViewModels.Transactions.IndexViewModel

<div id="Index_Feedback" style="text-align:center;" hidden="hidden">
</div>

<button title="Add a new transaction !" style="margin-bottom: 5px;" id="Index_AddButton" class="btn btn-primary">Add</button>
<div style="margin-bottom: 5px;" hidden="hidden" id="Index_AddView">
</div>

<div id="View">
    <h1 style="text-align:center;">Loading...</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("HistoricView", "Transactions")',
            success: function (result) {
                $("#View").html(result);
            },
            error: function (x, e, r) {
                alert(e + " " + r);
                alert(x.responseText);
            }
        });

        $('#Index_AddButton').on("click", function (e) {
            $.ajax({
                url: '@Url.Action("AddView", "Transactions")',
                type: "JSON",
                success: function (res) {
                    $("#Historic_DropDownView" + prevOpenedTN).delay(100).slideUp("slow", "swing", function (e) {
                        $("#Historic_DropDownViewTR" + prevOpenedTN).attr("style", "display:none;");
                        prevOpenedTN = '0';
                    });

                    $('#Index_AddView').delay(100).slideDown("slow").html(res);
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });
    });
</script>