@model Garden_Centre_MVC.ViewModels.Transactions.IndexViewModel

<h2><button id="AddButton">Add</button></h2>
<div id="HistoricView">
    @Html.Partial("Partials/HistoricView")
</div>

<div id="ActionView">

</div>


<script type="text/javascript">
$("#AddButton").on("click", function() {
    var model = {  }
    $.ajax(
    {
        type: "POST",
        url: '@Url.Action("AddView", "Transactions")',
        success: function (result) {
            $("#ActionView").html(result);
        },
        error: function (x, e) {

        }
    });
});
</script>