


@{
    ViewBag.Title = "ForgottenPasswordError";
    
}


<h2>Error</h2>

<p>I am sorry the account is either inactive or the details entered are incorrect please try again.</p>
@Html.ActionLink("Back to login", "Index", "Account", new {@class = "btn btn-default"})

