@{
    ViewBag.Title = "Home Page";
}
<script src="../../Scripts/Home/Home.js" type="text/javascript"></script>



<div id="MainPageContainer">
<div class="row">

    <a id="EmployeeLandingLink">
        <div class="col-md-6">
            <div class="jumbotron">
                <i class="fa fa-user"></i>Employee Landing Page
            </div>
        </div>
    </a>
    <a id="CustomerLandingLink">
        <div class="col-md-6">
            <div class="jumbotron">
                <i class="fa fa-users"></i>Customer Landing Page
            </div>
        </div>
    </a>
</div>

    <div class="row">

        <a id="TransactionsLandingLink">
            <div class="col-md-6">
                <div class="jumbotron">
                    <i class="fa fa-gbp"></i>Transactions Landing Page
                </div>
            </div>
        </a>
        <a id="InventoryLandingLink">
            <div class="col-md-6">
                <div class="jumbotron">
                    <i class="fa fa-list-alt"></i>Inventory Landing Page
                </div>
            </div>
        </a>
    </div>

</div>