@{
    ViewBag.Title = "Home Page";
}
<script src="../../Scripts/Home/Home.js" type="text/javascript"></script>



<div id="MainPageContainer">

    <div class="jumbotron">
        <a id="EmployeeLandingLink">Employee Landing Page</a>
    </div>

    <div class="row">

    </div>

</div>