@model Garden_Centre_MVC.ViewModels.InventoryViewModels.InventoryViewModel

<!--table used by paging class to display the inventory-->
<table id="Inventory" class="table table-striped table-bordered">
</table>

<!--Script to create the inventory table-->
<script>
    var prevInvOpenedTN = '0';
    $(document).ready(function (e) {
        //headers for the table
        var headers = ["Item ID", "Name", "Price", "In Stock", "On Order", "Sold"];
        //map search terms to the index of property in JSON 
        var searchTerms = new Map();
        searchTerms.set("Item ID", 0);
        searchTerms.set("Name", 1);
        searchTerms.set("Price", 2);
        searchTerms.set("Stock", 3);
        searchTerms.set("On Order", 4);
        searchTerms.set("Sold", 5);
        //if the user is an admin display the actions column
        @if (Garden_Centre_MVC.Attributes.Assets.CurrentUser.EmployeeLogin.Employee.Admin)
        {
            @:headers.push("Actions");
        }

        //Create a new paging object:
        //The params are
        //Data
        //Table ID
        //Headings
        //Search terms - used by the search box in the table
        //Row lambda - This is called for each peice of data and is responsible for how the row is created.
        var paging = new Paging(JSON.parse('@Html.Raw(Model.inventoryJSON)'), "Inventory", headers, searchTerms, (dataObj, table) => {
            //create the table row
            var tr = document.createElement("tr");

            //create table cell for the item id
            var td = document.createElement("td");
            td.innerHTML = dataObj.ItemId;
            tr.appendChild(td);

            //create the table sell for the Item name (description in the obj)
            td = document.createElement("td");
            td.innerHTML = dataObj.Description;
            tr.appendChild(td);

            //create the table cell for the item price
            td = document.createElement("td");
            td.innerHTML = "£" + dataObj.ItemPrice;
            tr.appendChild(td);

            //Create a table cell for the stock
            td = document.createElement("td");
            td.innerHTML = dataObj.Stock;
            tr.appendChild(td);

            //create a cell for the number on order
            td = document.createElement("td");
            td.innerHTML = dataObj.OnOrder;
            tr.appendChild(td);

            //create a cell for the number sold
            td = document.createElement("td");
            td.innerHTML = dataObj.Sold;
            tr.appendChild(td);

            //if the user is an admin create the button for edit otherwise just add the table row
            @if (Garden_Centre_MVC.Attributes.Assets.CurrentUser.EmployeeLogin.Employee.Admin)
            {
                @:td = document.createElement("td");
                @:var btn = document.createElement("button");
                @:btn.setAttribute("style", "background: none; border: none; color:#2c3e50;");
                @:btn.setAttribute("class", "viewBtn btn btn-primary");
                @:btn.setAttribute("title", "Edit the properties of this item !!");
                @:btn.setAttribute("invId", dataObj.ItemId);

                @:btn.addEventListener("click", function (e) {
                    @:var _itemId = $(this).attr("invId");
                    @:$.ajax({
                        @:type: "POST",
                        @:url: '@Url.Action("EditItemView", "Inventory")',
                        @:data: ({ itemId: _itemId }),
                        @:success: function(result) {
                            @:$("#Inventory_NewItem").delay(100).slideUp();
                            @:$("#Inv_DropDownViewTR" + _itemId).attr("style", "display:table-row;");
                            @:$("#Inv_DropDownView" + _itemId).delay(100).slideDown("slow").html(result);

                            @:if (prevInvOpenedTN !== '0' && prevInvOpenedTN !== _itemId)
                            @:{
                            @:$("#Inv_DropDownView" + prevInvOpenedTN).delay(100).slideUp("slow", "swing", function(e) {
                                @:$("#Inv_DropDownViewTR" + prevInvOpenedTN).attr("style", "display:none;");
                                    @:prevInvOpenedTN = _itemId;
                                @:});
                            @:}
                            @:else
                            @:{
                                @:prevInvOpenedTN = _itemId;
                            @:}
                        @:},
                        @:error: function(x, e, r) {
                            @:alert(e + " " + r);
                            @:alert(x.responseText);
                        @:}
                    @:});
                @:});

                @:var icon = document.createElement("i");
                @:icon.setAttribute("class", "fa fa-edit");
                @:btn.appendChild(icon);
                @:td.appendChild(btn);
                @:tr.appendChild(td);
                @:table.appendChild(tr);

                @:var tr = document.createElement("tr");
                @:tr.setAttribute("style", "display:none; padding:0px;");
                @:tr.setAttribute("id", "Inv_DropDownViewTR" + dataObj.ItemId);

                @:td = document.createElement("td");
                @:td.setAttribute("colspan", "6");
                @:td.setAttribute("id", "Inv_DropDownViewTD" + dataObj.ItemId);

                @:var div = document.createElement("div");
                @:div.setAttribute("hidden", "hidden");
                @:div.setAttribute("id", "Inv_DropDownView" + dataObj.ItemId);

                @:td.appendChild(div);
                @:tr.appendChild(td);
                @:table.appendChild(tr);
            }
            else
            {
                @:table.appendChild(tr);
            }
        }, "btn btn-primary", false);
    });
</script>