@model Garden_Centre_MVC.ViewModels.Transactions.ExtendedViewModel

<!--Table for each item in the transaction-->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Item</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        @{
            float val = 0.0f;
        }
        @foreach (Garden_Centre_MVC.Models.Transaction t in Model.transactions)
        {
            <tr>
                <td>@t.Item.Description</td>
                <td>£@t.Item.ItemPrice</td>
            </tr>
            val += t.Item.ItemPrice;
        }
        <tr>
            <td>Transaction Value: </td>
            <td>£@val</td>
        </tr>
    </tbody>
</table>
<button class="Extended_Close btn btn-primary" title="Hide the details of this transaction !">Close</button>

<script type="text/javascript">
    $(document).ready(function () {
        //Add click listener to the close button
        $('.Extended_Close').on("click", function (e) {
            //Slide the details row up
            $("#Historic_DropDownView" + @Model.transactions.First().TransactionNumber).delay(100).slideUp("slow", "swing", function (e) {
                //Hide the row when that action has finished
                $("#Historic_DropDownViewTR" + @Model.transactions.First().TransactionNumber).attr("style", "display:none;");
                prevOpenedTN = '0';
            });
        });
    });
</script>