@model Garden_Centre_MVC.ViewModels.Transactions.ExtendedViewModel

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Item</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Garden_Centre_MVC.Models.Transaction t in Model.transactions)
        {
            <tr>
                <td>@t.Item.Description</td>
                <td>@t.Item.ItemPrice</td>
            </tr>
        }
    </tbody>
</table>