@model Garden_Centre_MVC.ViewModels.Transactions.HistoricViewModel

@foreach (Garden_Centre_MVC.Models.TransactionOverview t in Model.Transactions)
{
<h2>
    @t.Transactions[0].Customer.FirstName @t.Transactions[0].Customer.SecondName - @t.DateAndTime.Day/@t.DateAndTime.Month/@t.DateAndTime.Year - £@t.TotalValue
</h2>
    <div style="border:solid;">
        @foreach (Garden_Centre_MVC.Models.Transaction a in t.Transactions)
        {
            <h2>
                @a.Item.Description - £@a.Item.ItemPrice
                <button>Edit</button><button>Delete</button>
            </h2>
        }
    </div>
}