@{
    Layout = "";
}

@model Garden_Centre_MVC.ViewModels.LogViewModels.LogLandingViewModel

@Scripts.Render("~/bundles/SiteScripts")

<div align="center" class="row">
    <h2>Action Log</h2>
</div>



<div class="row">
    <table id="LogTable"></table>
</div>