body {
    padding: 70px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#ForgotPasswordContainer button {
    margin: 5px;
}

#ForgotPasswordContainer {
    padding: 20px;
    border-radius: 6%;
    background: #00BC8C;
}


#ForgotPasswordContainer h4 {
    margin-bottom: 10px;
}

.input-validation-error {
     border: 2px dashed red;
}

.field-validation-error {
    color: red;   
}